<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="formStyle">
                <h1 class="formTitle">Edit "<%= feedback.title %>"</h1>
                <form action="/feedback/<%= feedback._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="feedback[title]" value="<%= feedback.title %>" placeholder="Title">    
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="feedback[image]" value="<%= feedback.image %>" placeholder="fundraiser Image">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="feedback[description]" value="<%= feedback.description %>" placeholder="Description...">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-block btn-lg btn-dark" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<% include ../partials/footer %>