<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="img-thumbnail position">
                <div class="caption-full">
                    <h4 class="float-right"><%= inventory.created.toDateString() %></h4>
                    <h3><a><%= inventory.title %></a></h3>
                    <p><em>Quantity <%= inventory.quantity%></em></p>
                    <% if(currentUser && inventory.author.id.equals(currentUser._id)) { %>
                        <a href="/inventory/<%= inventory._id %>/edit" class="btn btn-warning">Edit</a>
                        <form class="line online-block" action="/inventory/<%= inventory._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>